*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
     font-weight: 600;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(60,60,60,0.6), rgba(60,60,60,0.6)), url(images/banner6.png);
    background-position: top;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 120px;
    margin: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links li{
    height: 20px;
    color: #fff;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #500a0e;
    display: block;
    margin: auto;
    transition: 1s;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-family: "Luxurious Roman", serif;
    font-size: 25px;
    color: #fff
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 4px;
    z-index: 2;
}
.hero-btn:hover{
    border: 1px solid #500a0e;
    background: #500a0e;
    transition: 2s;
    z-index: 2;
}

nav .fa{
    display: none;
    
}

@media(max-width: 768px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #500a0e;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*---courses---*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.slicer{
    background: #f3f3f3;
    height: 20px;
}

/*---testimonial---*/
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding:0;
}
.testimonial-col h3{
    text-align: left;
}
.testimonial-col .fa{
    color: #500a0e;
}
@media(max-width: 700px){
    margin-left: 0px;
    margin-right: 15px;
}
.footer {
    background-color: #500a0e;
    color: #ffffff;
    padding: 50px 80px;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-column {
    min-width: 100px;
}

.footer-column h3 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 14px;
    color: #dcdcdc;
}

.footer-column p,
.footer-column a {
    font-size: 16px;
    margin: 4px 0;
    line-height: 1.4;
    color: #ffffff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-container {
    flex-direction: column;
    margin: 32px;
  }

  .footer-column {
    min-width: unset;
  }

  .footer-column h3 {
    margin-bottom: 10px;
      text-align: left;
  }

  .footer-column p,
  .footer-column a {
    font-size: 15px;
  }
}
